/* .howitwork{
    background-color: #b6c7d4;
    display: inline-flex;
    font-size: x-small;
} */

.steps {
    margin-top: 300px;
    text-align: center;
    width: 1160px;
    max-width: 100%;
    margin: 240px auto 0;
    padding: 0 8px
}


.steps-list {
    position: relative;
    font-size: 0px;
    font-size: 0px;
    font-size: 0rem;
    list-style: none;
    margin-top: 50px
}

.steps-list:before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 80px;
    height: 5px;
    width: 100%;
    background: #FE8572
}

.steps-list__item {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: calc(33.33333% - 70px);
    margin: 0 35px;

}

.steps-list__item:before {
    border: 10px solid #d17141;
    content: "";
    display: block;
    position: absolute;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translate(-50%);
    top: 60px;
    height: 48px;
    width: 48px;
    background: #fff;
    border-radius: 50%
}

.steps-list__item:hover .steps-list__number {
    color: #020202
}

.steps-list__item:hover:before {
    border-color: rgb(138, 170, 197);
    background: #f6f8f8;
    -webkit-box-shadow: 0px 3px 10px 0px #b5e2dc;
    box-shadow: 0px 3px 10px 0px #d8a80a
}

.steps-list__item:hover .steps-list__desc {
    opacity: 1
}

.steps-list__number {
    font-size: 25px;
    font-size: 25px;
    font-size: 2.5rem;
    display: block;
    color: #929292;
    margin-bottom: 115px;
    -webkit-transition: 0.2s;
    transition: 0.2s
}

.steps-list__desc {
    font-size: 18px;
    font-size: 18px;
    font-size: 1.8rem;
    opacity: 0.3;
    -webkit-transition: 0.2s;
    transition: 0.2s
}

.steps-list__desc b, .steps-list__desc strong {
    color: #0f0e0e
}







/* 
.heading {
    width: 630px;
    max-width: 100%;
    margin: 0 auto
}

.page-heading__title {
    font-size: 36px;
    font-size: 3.6rem;
    color:black;
}

.heading__title {
    font-size: 36px;
    font-size: 3.6rem;
    color:black;
}

.item__title {
    font-size: 36px;
    font-size: 3.6rem
}

.item__desc {
    font-size: 16px;
    font-size: 1.6rem;
    line-height: 26px
} */


 /* .page-heading--achievements{margin-top:370px}.page-heading__content{width:60%;padding-right:15px}.page-heading__content--full{width:100%;padding-right:8px}.page-heading__image{width:40%;padding-left:15px}.page-heading__image img{max-height:350px}.page-heading__title{font-size:30px;font-size:3rem}.page-heading__desc{margin-top:15px}.page-heading__btn{margin-top:15px}.heading__title{font-size:30px;font-size:3rem}.heading__desc{font-size:16px;font-size:1.6rem;line-height:26px}.heading__btn{margin-top:20px}.why{margin:150px 0 0}.why .item__content{width:60%}.why .item__image{width:40%;padding-left:30px}.item__content{width:60%}.item__image{width:40%}.item__title{font-size:30px;font-size:3rem}.item__title-new{font-size:12px;font-size:1.2rem;right:-5px}.item__desc{font-size:16px;font-size:1.6rem;line-height:26px;margin-top:15px}.item__btn{margin-top:15px}

.page-heading--achievements{margin-top:310px}.page-heading--resources{padding-top:220px}.page-heading__content{width:55%;padding-right:15px}.page-heading__content--full{width:100%;padding-right:8px}.page-heading__image{width:45%;padding-left:15px}.page-heading__image img{max-height:350px}.page-heading__title{font-size:24px;font-size:2.4rem}.page-heading__desc{margin-top:15px}.page-heading__btn{margin-top:15px}.heading--default{margin-bottom:60px}.heading__title{font-size:24px;font-size:2.4rem}.heading__desc{font-size:15px;font-size:1.5rem;line-height:24px}.heading__btn{margin-top:20px}.why{margin:150px 0 0}.heading__title{font-size:24px;font-size:2.4rem}.heading__desc{font-size:15px;font-size:1.5rem;line-height:24px}

.heading--default{margin-bottom:60px}.heading__title{font-size:20px;font-size:2rem}.heading__desc{font-size:15px;font-size:1.5rem;line-height:24px}.heading__btn{margin-top:20px}


.steps{margin-top:100px;padding:0}  */


