@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

@media only screen and (max-width: 629px) {
 
  .image-item {
    padding: 0px 0px 0px 10px;
  }
}


@media screen and (min-width: 767px) {

  .neometry_div_1{
    height: 112vh;
    /* background-color: #d0a02b; */
  }
  .explore-next-div{
    display: block;
  }

  .why-us-neo {
    margin-top: 4%;
    height: 112vh;
    background-repeat: no-repeat, repeat;
    background-position: right top;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    /*background :*/
  }
  .neometry_div_1{
    height: 112vh;
  }  

  .box-neometry-1 {
    transition: box-shadow .3s;
    width: 280px;
    height: 400px;
    margin: 50px;
    border-radius:5px;
    margin-top: 43%;
    background-repeat: no-repeat, repeat;
    background-position: right top;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
   background: url("https://static.licdn.com/sc/h/244xhbkr7g40x6bsu4gi6q4ry"); 
   background-color: #d0a02b;
  }

  .neomet-second-right-cards{
    width: 100%;
    height: 100%;
    background-color: rgb(19, 19, 17, 0.8);
    padding-left: 3%;
    height: 700px;
  }

  .box-neometry-2 {
    transition: box-shadow .3s;
    width: 280px;
    height: 400px;
    margin: 50px;
    border-radius:5px;
    margin-top: 65%;
    background-color: #fff;
  }

}

@media screen and (max-width: 767px) {
  .explore-next-div{
    display: none;
  }
  .box-neometry-1 {
    transition: box-shadow .3s;
    width: 280px;
    height: 400px;
    margin: 50px;
    border-radius:5px;
    margin-top: 25%;
    margin-bottom: 25%;
    background-repeat: no-repeat, repeat;
    background-position: right top;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
     /* background: url("https://static.licdn.com/sc/h/244xhbkr7g40x6bsu4gi6q4ry");  */
  }
  
  .why-us-neo {
    margin-top: 4%;
    background-repeat: no-repeat, repeat;
    background-position: right top;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    /* background: url("https://static.licdn.com/sc/h/244xhbkr7g40x6bsu4gi6q4ry"); */
  }


  button.requestSolution {
    width: 90%;
    height: 40px;
    border-radius: 0px;
    color: white;
    font-size: 16px;
    font-family: "Poppins";
    background: #d0a02b;
    margin-top: 30%;
  }
  .neomet-second-right-cards{
    width: 100%;
    height: 100%;
    background-color: rgb(19, 19, 17, 0.8);
  }

  .box-neometry-2 {
    transition: box-shadow .3s;
    width: 280px;
    height: 400px;
    margin: 50px;
    border-radius:5px;
    margin-top: 25%;
    margin-bottom: 25%;
    background-color: #fff;
  }

}

@media only screen and (min-width: 1356px) {
 

}

@media only screen and (min-width: 700px) {
  .box-text-title{
    color:#fff;
    font-weight: 600;
    font-size: 35px;
  }
  .explore-next-div{
    margin-top: -350px;
    margin-right: 5%;
    float: right !important;
  }
  p.explore-more-txt{
    color: #d0a02b;
    margin-top: -3px;
    font-weight: 600;
  }
  .box-neometry-1-inner{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(19, 19, 17, 0.8);
    padding: 10%;
  }
  .box-text-subtitle{
    color:#fff;
    font-size: 15px;
  }

  .box-neometry-2-inner{
    width: 100%;
    height: 100%;
    padding: 10%;
  }
  .box-text-title-2{
    color:#d0a02b;
    font-weight: 500;
    font-size: 27px;
    margin-top: 10px;
    text-align: left !important;
  }
  .box-text-subtitle-2{
    color:#d0a02b;
    font-size: 15px;
    margin-bottom: 5px;
    text-align: left !important;
  }
  .box-neometry {
    transition: box-shadow .3s;
    width: 155px;
    height: 200px;
    margin: 50px;
    border-radius:10px;
    border: 1px solid #ccc;
    background: #fff;
    box-shadow: 0 0 11px rgba(33,33,33,.2); 
    position: absolute;
    margin-top: -300px;
    margin-left: 21%;
    padding-left: 15px;
    padding-right: 10px;
    padding-top: 30px;
    padding-bottom: 50px;
  }
  }

  button.requestSolution {
    width: 90%;
    height: 40px;
    border-radius: 0px;
    color: white;
    font-size: 16px;
    font-family: "Poppins";
    background: #d0a02b;
    margin-top: 10%;
  }

  .why-us-neo {
    margin-top: 4%;
    height: 112vh;
    background-repeat: no-repeat, repeat;
    background-position: right top;
     /* background: url("https://static.licdn.com/sc/h/244xhbkr7g40x6bsu4gi6q4ry"); */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  .why-us-neo-2{
    height: 110vh;
    margin-bottom: 4%;
    background-color: #d3ad40;
  }
  .why-us-neo-2-inner{
    padding-top: 25%;
    padding-left: 10%;
    padding-right: 10%;
  }

  /*fo centering the elements*/

  .row{
    display: flex;
    height: 700px;
    background-color:#d0a02b
  }

  .horizon{
    display: flex;
    width:75%;
  }
.cursuelcark{
  width: -webkit-fill-available;
  /* background-color: aqua; */
  height: 700px;
}
  .rec-swipable{
    margin-top: 100px;
  }
  .why-us-neo{
    height: 700px;
  }
  .a-box{
    height:390px;
  }

  