/* 

bodyy{
    display: grid;
    place-items: center;
    height: 100vh;
     background:#4f6d7a; 
     font-family: 'Courier New', Courier, monospace; 
}

.a-containerrrr{
    display: grid; 
    place-items: center;
    position: relative;
    width: 225px;
    height: 355px;
    border-radius: 1rem;
    background: linear-gradient(50deg , #2a5a3b , #1e4886);
    overflow:hidden;
}

.a-containerrrr:before{
    content: "";
    position: absolute;
    width: 450px;
    height: 35px;
    top:0;
    right: 35px;
    transition: 1.9s;
    background:linear-gradient(50deg,#00ff59,#02b3ff);
    transform: rotate(-45deg) translate(0,-100px);
}

.a-containerrrr{
    display: grid;
    place-items: center;
    width: 247px;
    height: 347px;
    background: #171614;
    border-radius: .8em;
    z-index:1;
    color:#858585;
    overflow: hidden;
    padding:1em;
    text-align: center;
    cursor: pointer;
    transition: 05s ease;
}

.a-containerrrr:hover{
    color: #fff;
}

.a-containerrrr :hover::before{
    animation: efffect 1.9s;
}*/

@keyframes effect{
    100%{
        transform: rotate(-45deg) translate (0,450px);
    }
} 


.textt{
    text-align: center;
    padding-bottom: 5px;
    font-size: 20px;
    margin-top: 10px;
    background-color: #e0c579;
    
    /* background-image: url("https://img.freepik.com/free-photo/abstract-smooth-dark-blue-with-black-vignette-studio-well-use-as-backgroundbusiness-reportdigitalwebsite-templatebackdrop_1258-108850.jpg?size=626&ext=jpg"); */
    display: grid;
    grid-column: auto;
    
  }
  .flip-card-inner {
    position: relative;
    width: 40%;
    height: 500px;
    text-align: center;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 52% 45% 45%;
    /* column-gap: 90px; */
    border-radius: 12px;
    border: 10px #e2705f;
    margin: 4% 0 4% 0; /*bottom margin */
    margin-left:350px; 
   padding-top: 70px;
     gap: 25%;
    /* box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2); */
    
  }
  
  .flip-card-front,
  .flip-card-back {
    position: relative;
    width: 100%;
    height: 430px;
    border-radius: 15px;
  }
  .flip-card-front {
  
    background-image: linear-gradient(585deg, #3db5d3, #ddd346);
    
    border-radius: 8px;
    /* background: rgb(128, 179, 196); */
      
  }
  
  .flip-card-front img {
    width: 372px;
    height: 466px;
    border-radius: 10px;
    }
  
  .flip-card-back {
    background-image: linear-gradient(585deg, #f6f8f6, #e4d4e2);
    color: #f0f0f0;
    height: 550px;

  }
  .flip-card-back img {
    width: 100px;
    height: 100%;
  }
  .flip-card-back h3 {
    color: #070808;
    /* margin-top: -20px; */
    text-shadow: #0a0c0c;
    font-weight: bold;
    font-size: 15px;
    
  
  }
  .bring{
    margin-top: 45px;
    font-size: 20px;
   
  }
  
   .para1 {
    margin: 10px;
    font-size: 20px;
    word-spacing: 0.5px;
    padding: 30px;
    color:#050505;
  }
  
  :root {
    --flip-card-height: 100%;
  }
  
  .card {
    height: var(--flip-card-height);
    border: none;
    
    /* background-color: rgb(27, 32, 32); */
  }

  .paraa {
    margin: auto;
    font-size: 15px;
    /* word-spacing: 0.5px; */
    padding: 20px;
    color:#252524;
  }

 .outside_text{

   font-size: 20px;
   text-align: left;
 }